/* ------------
 * Global Rules
 * ------------ */

body {
    background:url(/assets/img/beercans.gif) no-repeat bottom left;
/*
  background-attachment:fixed;
  background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#ECE9E9));
  background-image:-moz-linear-gradient(center top, white 0%, #ECE9E9 100%);
*/
  font-family:Georgia, serif;
  padding-bottom:50px;
  text-transform:lowercase;
}

ul.nav {
    list-style:none;
    margin:0;
    padding:0;
}

ul.nav li {
    margin:0;
    padding:0;
}

ul.nav li a {
    display:block;
    padding:3px;
}

a,
a:hover,
a:visited {
  color:#000;
}

a {
  text-decoration:none;
}

a:hover {
    text-decoration:underline;
} 

a.current {
    font-weight:bold;
}

h1,
h2,
h3,
h4 {
  font-weight:normal;
  text-shadow:#CCC 0px 0px 0px;
}

/* -------------
 * Layout Header
 * ------------- */

header {
  margin:25px 0px;
  text-shadow:#CCC 0px 0px 0px;
}

header h1,
header h2,
header h3,
header h4 {
  margin:0px;
  padding:0px;
}

header h1 {
  font-size:60px;
  line-height:60px;
}

header h1 a,
header h1 a:hover,
header h1 a:visited {
  color:#000;
  text-decoration:none;
}

header h2 {
  font-size:24px;
  line-height:60px;
}

header ul,
header ul li {
  font-size:16px;
  list-style:none;
  line-height:1.3em;
  margin:0px;
  padding:0px;
}

/* -------
 * Content
 * ------- */

section {
  font-size:16px;
  line-height:1.5em;
}

section h1 {
  font-size:24px;
}

section h2 {
  font-size:22px;
}

section h3 {
  font-size:18px;
}

section a {
  cursor:pointer;
  text-decoration:underline;
}

section a:hover {
  color:#666;
}

section ul.no-indent {
  margin-left:0px;
  padding-left:20px;
}

/* ----
 * Docs
 * ---- */

.docs h1,
.docs h2,
.docs h3 {
  text-transform:none;
}

.docs h1,
.docs h1 a {
  color:inherit;
  font-size:36px;
  line-height:48px;
  text-decoration:none;
}

.docs h2 {
  border-bottom:2px solid #222;
  font-size:24px;
  line-height:36px;
}

.docs h3 {
  font-size:16px;
  font-weight:bold;
  line-height:24px;
}

.docs h1 + p,
.docs h2 + p {
  margin-left:0px;
}

.docs p,
.docs pre {
  margin-left:40px;
}

.docs ul {
  margin-left:20px;
}

#version {
    background:#ccc;
    color:#fff;
    text-align:center;
    padding:10px;
}
