/* ------------
 * Global Rules
 * ------------ */

body {
    background:url(http://brian.io/lawnchair/assets/img/beercans.gif) no-repeat bottom left;
    font-family:Georgia, serif;
    text-transform:lowercase;
    padding:20px;
}

a {
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
} 

a.current {
    font-weight:bold;
}

h1,h2,h3,h4 {
  font-weight:normal;
  text-shadow:#CCC 0px 0px 0px;
}

code {
    /*background:#eaeaea;*/
    -webkit-border-radius:3px;
    padding:3px;
    /*text-shadow:2px 2px 0 #fff;*/
}

/* -------------
 * Layout Header
 * ------------- */

header {
    float:left;
    margin:0 40px 0 0;
    text-shadow:#CCC 0px 0px 0px;
    text-align:center;
}

header h1,
header h2,
header h3,
header h4 {
  margin:0px;
  padding:0px;
}

header h1 {
  font-size:3.5em;
}

header h1 a,
header h1 a:hover,
header h1 a:visited {
  color:#000;
  text-decoration:none;
}

header h2 {
    color:#666;
    font-size:1.8em;
    margin:0 0 40px 0;
}

/* -------
 * Nav 
 * ------- */

nav {
    float:left;
    margin:0 40px 0 0;
}

nav ul {
    list-style:none;
    margin:0;
    padding:0;
}

nav ul li {
    margin:0;
    padding:0;
}

nav ul li a {
    display:block;
    padding:3px;
}

/* -------
 * Content
 * ------- */

section {
    float:left;
    width:600px;
    line-height:1.5em;
}

table, tr, td {
    margin:0;
    padding:0;
    color:#fff;
    font-size:small;

    text-transform: none;
    font-family: 'Droid Sans Mono', arial, serif;
    text-shadow: 1px 1px 1px black;
}

table tr td.subdue {
    color:#666;
    width:300px;
}

table {
    padding:20px;
    width:100%
}
